<%= form_with(model: @mytweet, local:true, url:choose_new_or_eidt) do |form| %>
  <% if @mytweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= @mytweet.errors.count %>件のエラーがあります。</h2>

      <ul>
        <% @mytweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="action">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'ツイート一覧に戻る', mytweets_path %>
