<h3>以下の内容でツイートする。</h3>

<%= form_with(model: @mytweet, lacal: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>ツイート内容：<%= @mytweet.content %></p>
    <%= form.submit "投稿する"  %>
    <%= form.submit "戻る", name: 'back' %>
<% end %>
