<% provide(:title, 'ツイート一覧') %>

<p id=#notice><%= notice %></p>

<p><%= link_to 'ツイート新規作成画面へ進む', new_mytweet_path %></p>

<h1>ツイート一覧</h1>

<% @mytweets.each do |mytweet| %>
  <div class="tweet clearfix">
    <div class="content">
      <%= mytweet.content %>
    </div>
    <ul class="clearfix">
      <li><%= link_to '詳細を確認する', mytweet_path(mytweet.id)%></li>
      <li><%= link_to '本文を編集する', edit_mytweet_path(mytweet.id) %></li>
      <li><%= link_to '本文を削除する', mytweet_path(mytweet.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %></li>
    </ul>
  </div>
<% end %>
