<h1>Mytweets</h1>

<p id=#notice><%= notice %></p>

<%= link_to 'ツイート新規作成画面へ進む', new_mytweet_path %>

<h2>ツイート一覧</h2>

<table>
  <tr>
    <th>本文</th>
  </tr>
  <% @mytweets.each do |mytweet| %>
    <tr>
      <td><%= mytweet.content %></td>
      <td><%= link_to '詳細を確認する', mytweet_path(mytweet.id)%></td>
      <td><%= link_to '本文を編集する', edit_mytweet_path(mytweet.id) %></td>
      <td><%= link_to '本文を削除する', mytweet_path(mytweet.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %></td>
    </tr>
  <% end %>
</table>
